body{
    background: url('./components/round.png')
}

body h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    color: rgb(83, 94, 105);
    text-align: center;

}
h3{
    color: rgb(83, 94, 105);
    text-align: center;
    font-family: 'Fjalla One', sans-serif;

}
.deck{
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #abd5c7;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border-radius: 5px;


}

i{
    max-width:100%;
    text-align: center;
    align-self: center;
}

 .closed{
      transform-style: preserve-3d;
	transition: .4s ease-in-out;
    transform: rotateY(180deg);
    color: #d7d7d7;;
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: #e8efd5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);



}

.open{
    color: #f7e5df;
    /* transform-style: preserve-3d; */
	transition: .4s ease-in-out;
    transform: rotateY(-180deg);
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: #e6c3bf;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* translate: y; */
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);


}
